<div class="main"> 
    <table class="table">
         <thead>
         <tr>
             <th scope="col">Meme Name</th>
             <th scope="col">Meme Image</th>
             <th scope="col">Meme Description</th>
             <th scope="col">Like number</th>
         </tr>
         </thead>
         <tbody>
         <tr>
             <th scope="row">{{meme[0].NomeMeme1}}</th>
             <td><img src="../../assets/meme1.png" height="400px"></td>
             <td>{{meme[0].Description1}}</td>
             <td></td>
         </tr>
         <tr>
             <th scope="row">{{meme[1].NomeMeme1}}</th>
             <td><img src="../../assets/meme2.jpg" height="400px"></td>
             <td>{{meme[1].Description1}}</td>
             <td></td>
         </tr>
         </tbody>
     </table>
 </div> 
